.text-white {
	color: #fff;
}

.background-yellow {
	background-color: #f7b617;
}

.full-height {
	height: 100%;
}

.padding-y {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-y-10 {
	padding-top: 10%;
	padding-bottom: 10%;
}

.border-white {
	border: 1px solid #fff;
}

/*nav*/
#headingOne {
 padding-top: 17px;
}

#headingOne a {
	margin-right: 70px;
	margin-top: 4px;
}

.navbar-left a {
	display: inline-block !important;
	margin-top: 3px;
}

/*Header*/
#hero {
	height: 475px;
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#hero .background-yellow {
	height: 220px;
	margin-top: 100px;
	padding-top: 60px;
}

header a {
	text-decoration: none;
	color: none;
	color: #5d5c5a;
}

#hero input {
	border: none;
	border-bottom: 1px solid #fff;
	background: #f7b617;
}

#hero .btn-default {
	margin-top: 20px;
}

/*Conductor*/
#conductor {
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 215px;
}

#conductor .full-height {
	background-color: rgba(0, 0, 0, 0.3);
	height: 215px;
}

/*Tarifa*/
#tarifa {
	height: 420px;
}

#map {
	height: 390px;
	color: black;
	margin: 15px auto;
}

/*Footer*/
footer {
	background-color: #2B2B2B;
}

footer > div > div img {
	width: 100%;
}

footer a, footer li {
	text-decoration: none !important;
	color: none;
	color: #fff;
}

footer a:hover {
	color: gray;
}

@media (min-width: 768px) {
	.navbar-left {
		padding-top: 10px !important;
	}

	#hero {
		background-position: 100% 92%;
		height: 600px;
	}

	#hero .background-yellow {
		height: 370px;
	}

	#hero h2 {
		line-height: 15px;
	}

	#conductor {
		height: 500px;
	}

	#conductor .full-height {
		height: 500px;
	}

	#tarifa {
		height: 500px;
	}

	footer > div > div img {
		width: 70%;
	}
}
